#footer-container {
  background: #333;
  color: #f3f3f3;
  margin-top: 1.5rem;
}

#footer-container .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 0;
  grid-gap: 1rem;
}

#footer-container .footer-logo {
  width: 150px;
}

#footer-container .links {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

#footer-container .links h3 {
  margin-left: 1rem;
}

#footer-container .links a {
  color: #f3f3f3;
  margin-left: 1rem;
  border-bottom: #555 dotted 1px;
  width: 80%;
  font-size: 0.9rem;
}

#footer-container .links a:hover {
  color: #635ad9;
}

#footer-container .footer-join a {
  display: inline;
  margin-top: 10rem;
  background-color: #b82828;
  color: white;
  position: relative;
  top: 1rem;
  padding: 0.5rem;
}

#footer-container .footer-join a:hover {
  background-color: #962525;
}

#footer-container .container > *:last-child {
  background-color: #444;
  grid-column: 1 / span 3;
  text-align: center;
  padding: 0.5rem;
}
