.join {
  background-color: white;
  color: black;
  padding: 1rem;
  display: grid;
}

.join a {
  background-color: #000;
  color: #f3f3f3;
  grid-template-columns: 1 / span 3;
  text-align: center;
  padding: 10px;
  margin-top: 1rem;
}

.join a:hover {
  background-color: #474747;
}
